.button:focused {
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5, 4, 3;
}

.home-page {
	-fx-background-image: url("background.jpg");
}

.label .form-title {
	-fx-font-size: 20;
}

.home-title {
	-fx-font-size: 30;
	-fx-background-color: white;
}